h2 {
    color: #A80000;
    font-family: Verdana;
    font-weight: lighter;
}
.clear {
    color: black;
    font-family: Verdana;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 0.4rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline:none;
}

.clear:hover {
    color: white;
    background-color: rgb(128, 0, 0);
}

.clear .badge {
    color: white;
    padding: 0.8em 0.9em 0 0.7em;
    background-color:#405061;
    position: relative;
    left: -8px;
    top: 6.5px;
    height: 1.6em;
    border-radius: 6px 0 0 6px;
  }
