
    <p class="lead" > Modifica il contatto </p>

    <label class="form-label ">Nome del contatto</label>
    <input class="form-control form-control-sm" type="text" value= "{{FormPerson?.nome}}" placeholder="Nome">
    <label class="form-label space">Cognome del contatto</label>
    <input class="form-control form-control-sm" type="text" value="{{FormPerson?.cognome}}" placeholder="Cognome">
    <label class="form-label space">Sesso del contatto</label>
    <input class="form-control" type="text" value="{{FormPerson?.sesso}}" placeholder="Sesso" disabled readonly>
    <label class="form-label space">Indirizzo del contatto</label>
    <input class="form-control form-control-sm" type="text" value="{{FormPerson?.indirizzo}}" placeholder="Indirizzo">
    <label class="form-label space">Telefono del contatto</label>
    <input class="form-control form-control-sm" type="text" value="{{FormPerson?.telefono}}" placeholder="Telefono">
    <button class="btn btn-primary margine" ><i class="fas fa-long-arrow-alt-left"></i> Back</button>

