<div class="mx-5 shadow rounded">
  <div class="row d-flex justify-content-center mt-5 px-2 py-2">
    <div class="col-lg-10 col-md-12 px-5 py-5">
      <div class="table-responsive">
        <table class="table" *ngIf="person.length > 0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Cognome</th>
              <th scope="col">Data di nascita</th>
              <th scope="col">Sesso</th>
              <th scope="col">Telefono</th>
              <th scope="col">Azioni user</th>
            </tr>
          </thead>
          <tbody>
            <tr appMousehover *ngFor="let persona of person">
              <th scope="row">{{ persona.id }}</th>
              <td>{{ persona.nome }}</td>
              <td>{{ persona.cognome }}</td>
              <td> {{ persona.dataNascita | date: 'dd/MM/yyyy' }} </td>
              <td [ngClass]="{sessoM: persona.sesso === 'M',sessoF: persona.sesso === 'F'}">
                {{ persona.sesso }}
              </td>
              <td>{{ persona.telefono }}</td>
              <td>
                  <button class="btn" (click)="selectRow(persona)">
                    <i class="fas fa-map-marker-alt"></i>
                  </button>
                  <button class="btn" (click)="deleteRow(persona)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="btn" (click)="editForm(persona)">
                    <i class="fas fa-edit"></i>
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal [headM]="headR"> 
    <div content *ngIf="bodyR" class="mt-3 mb-3"> {{ bodyR }} </div>
    <div content *ngIf="!bodyR"> <app-form [FormPerson]="saveperson" (outputP)="takeData($event)"></app-form></div>
</app-modal>


