<app-rubrica [clickmodale2]="clickModale(true)"></app-rubrica>
<div class="modal fade" id="conferma">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Profilo eliminato</h5>
          <button type="button" class="btn-close"  aria-label="Close"></button>
        </div>
        <div class="modal-body">Il profilo è stato eliminato.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" >
            Close <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
