<div class="modal fade" bsModal #modale2="bs-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Profilo eliminato</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modale2.hide()"></button>
      </div>
      <div class="modal-body">Il profilo è stato eliminato.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modale2.hide()">
          Close <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
