.noHover{
    pointer-events: none;
    color:aliceblue!important;
}

.atext {
    text-decoration: none;
}

a:hover {
    cursor:context-menu;
}

.navbar {
    background-color:#1A2238!important;
}

.nav-link {
    color:aliceblue!important;
}

.navbar-brand {
    color:aliceblue!important;
}

.nav-link:hover {
    color:#FF6A3D!important;
}