<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showNav">
    <div class="container-fluid">
      <a class="navbar-brand color text-secondary">{{title}}</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="cont collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="home()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="personaNew()" *ngIf="showAdmin">New contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="lazy()" *ngIf="showAdmin">Lazy</a>
          </li>
        </ul>
      </div>
      <a class="me-4 noHover text-secondary" >Welcome on board, {{ mostraEmail }}</a>
      <a class="atext text-danger" type="submit" (click)="logout()">
        Log out <app-loading *ngIf="loading"></app-loading>
      </a>
    </div>
</nav>

<router-outlet></router-outlet>


