<div class="modal fade" bsModal #modale="bs-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="card modal-content">
            <div class="header modal-header">
              <h5 class="modal-title">{{ headM }}</h5>
              <button type="button" class="btn-close" aria-label="Close" (click)="hide()"></button>
            </div>
            <div class="content modal-body">
              <ng-content select="[content]"></ng-content>
            </div>
            <div class="footer modal-footer mb-4">
            </div>
        </div>
    </div>
</div>