<div class="modal fade" bsModal #modale="bs-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="card modal-content">
            <div class="header modal-header">
              <ng-content select="header"></ng-content>
            </div>
            <div class="content modal-body mt-3 mb-3">
              <ng-content select="content"></ng-content>
              <ng-content select="form"></ng-content>
            </div>
            <div class="footer modal-footer">
              <ng-content select="footer"> </ng-content>
            </div>
        </div>
    </div>
</div>