label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    padding: 1rem;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
    margin-right: 25px;
    border: 0px;

  }
  button:hover {
    color: white;
    background-color: #42545C;
  }

  button:active {
    background-color: black;
  }

  .componenti {
    text-align: center; 
  }
  .label1 {
    margin-right: 305px;
  }

  input {
    border-radius: 4px;
  }