<div class="mx-5 shadow rounded">
  <div class="row d-flex justify-content-center mt-5 px-4 py-4">
    <div class="col-lg-3 col-md-6 px-5 py-3">
      <h4 class="text-center mb-3"> Modifica il contatto </h4>
      <form [formGroup]="profilo" (ngSubmit)="SaveForm()">
          <div class="row align-items-center">
            <label class="mt-2" for="nome">Nome:* </label>
            <input id="nome" class="form-control" type="text" formControlName="nome" name="nome" >
            <div *ngIf="profilo.get('nome').invalid && (profilo.get('nome').dirty || profilo.get('nome').touched)">
              <small class="text-danger" *ngIf="profilo.get('nome').hasError('required')">
                  Inserisci un nome.
              </small>
              <small class="text-danger" *ngIf="profilo.get('nome').hasError('minlength')">
                  La lunghezza minima per questo campo è {{profilo.get('nome').errors.minlength.requiredLength}} caratteri.
              </small>
              <small class="text-danger" *ngIf="profilo.get('nome').hasError('maxlength')">
                  La lunghezza massima per questo campo è {{profilo.get('nome').errors.maxlength.requiredLength}} caratteri.
              </small>
              <small class="text-danger" *ngIf="profilo.get('nome').hasError('filtronumeri')">
                  Il campo non deve contenere numeri o caratteri speciali.
              </small>
            </div>
                
          <label class="mt-2" for="cognome">Cognome:* </label>
          <input id="cognome" class="form-control" type="text" formControlName="cognome">
          <div *ngIf="profilo.get('cognome').invalid && (profilo.get('cognome').dirty || profilo.get('cognome').touched)">
            <small class="text-danger" *ngIf="profilo.get('cognome').hasError('required')">
                Inserisci un cognome.
            </small>
            <small class="text-danger" *ngIf="profilo.get('cognome').hasError('minlength')">
                La lunghezza minima per questo campo è {{profilo.get('cognome').errors.minlength.requiredLength}} caratteri.
            </small>
            <small class="text-danger" *ngIf="profilo.get('cognome').hasError('maxlength')">
                La lunghezza massima per questo campo è {{profilo.get('cognome').errors.maxlength.requiredLength}} caratteri.
            </small>
            <small class="text-danger" *ngIf="profilo.get('nome').hasError('gte')">
                Il campo non deve contenere numeri o caratteri speciali.
            </small>
          </div>

          <label class="mt-2" for="datanascita">Data di nascita:* </label>
          <input id="datanascita" class="form-control" type="date" formControlName="datanascita">
          <div *ngIf="profilo.get('datanascita').invalid">
            <small class="text-danger" *ngIf="profilo.get('datanascita').hasError('required')">
                Inserisci una data di nascita valida.
            </small>
          </div>
                  
          <label class="mt-2" for="sesso">Sesso: </label>
          <input id="sesso" class="form-control" type="text" formControlName="sesso" readonly>

          <label class="mt-2" for="indirizzo">Indirizzo: </label>
          <input id="indirizzo" class="form-control" type="text" formControlName="indirizzo">

          <label class="mt-2" for="telefono">Telefono: </label>
          <input id="telefono" class="form-control" type="text" formControlName="telefono">
          <div class="btn-group mt-3" role="group">
            <button type="submit" class="btn btn-success me-4" [disabled]="profilo.invalid">Salva <i class="fas fa-save"></i></button>
            <button  type="button" class="btn btn-secondary"routerLink="/rubrica" routerLinkActive="active">Back <i class="fas fa-backward"></i></button>
          </div>
            <div class="mt-3">
            <span class="form-text">
              *: Campi obbligatori
            </span>
          </div>
          </div>
        </form>
    </div>
  </div>
</div>

    

 <!-- template driven form
    <div>
      <form  #form="ngForm">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" [(ngModel)]="FormPerson.nome" name="nome" #nome="ngModel" required readonly>
          <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger"> Inserisci il nome </div>
        </div>
  
        <div class="form-group">
          <label class="mt-2" for="cognome">Cognome</label>
          <input type="text" class="form-control" id="cognome" [(ngModel)]="FormPerson.cognome" name="cognome" #cognome="ngModel" required readonly>
          <div [hidden]="cognome.valid || cognome.pristine" class="alert alert-danger"> Inserisci il cognome </div>
        </div>
  
        <div class="form-group">
          <label class="mt-2" for="sesso">Sesso</label>
          <input type="text" class="form-control" id="sesso" [(ngModel)]="FormPerson.sesso" name="sesso" #sesso="ngModel" required readonly>
          <div [hidden]="sesso.valid || sesso.pristine" class="alert alert-danger"> Inserisci il sesso </div>
        </div>

        <div class="form-group">
            <label class="mt-2" for="indirizzo">Indirizzo</label>
            <input type="text" class="form-control" id="indirizzo" [(ngModel)]="FormPerson.indirizzo" name="indirizzo" #indirizzo="ngModel" required>
            <div [hidden]="indirizzo.valid || indirizzo.pristine" class="alert alert-danger"> Inserisci l'indirizzo </div>
        </div>

        <div class="form-group">
            <label class="mt-2" for="telefono">Telefono</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="FormPerson.telefono" name="telefono" #telefono="ngModel" required>
            <div [hidden]="telefono.valid || telefono.pristine" class="alert alert-danger"> Inserisci il telefono </div>
        </div>
      </form>
    </div>
-->

