button {
    border: none;
}

.btn-primary {
    background-color:#1A2238!important;
}

.btn-primary:hover {
    background-color:#2b385c!important;
}

/*
.sessoM {
     background-color: rgb(48, 87, 212); 
    border-radius: 5px;
 } 
 .sessoF {
     background-color: rgb(245, 35, 210); 
    border-radius: 5px;
 }
*/


