/*
.sessoM {
     background-color: rgb(48, 87, 212); 
    border-radius: 5px;
 } 
 .sessoF {
     background-color: rgb(245, 35, 210); 
    border-radius: 5px;
 }
*/

.alert-fixed {
   position:fixed; 
   top: 0%; 
   left: 0%; 
   width: 100%;
   z-index:9999; 
   border-radius:0%;
}

