<div class="mx-5 shadow rounded">
    <div class="row d-flex justify-content-center mt-5 px-4 py-4">
      <div class="col-lg-3 col-md-6 px-5 py-3"> 
        <form [formGroup]="profilo" (ngSubmit)="SaveForm()">
            <div class="row align-items-center">
              <label class="mt-2" for="nome">Nome:* </label>
              <input id="nome" class="form-control" type="text" formControlName="nome">
              <div *ngIf="profilo.get('nome').invalid && (profilo.get('nome').dirty || profilo.get('nome').touched)">
                <small class="text-danger" *ngIf="profilo.get('nome').hasError('required')">
                    Inserisci un nome.
                </small>
                <small class="text-danger" *ngIf="profilo.get('nome').hasError('minlength')">
                    La lunghezza minima per questo campo è {{profilo.get('nome').errors.minlength.requiredLength}} caratteri.
                </small>
                <small class="text-danger" *ngIf="profilo.get('nome').hasError('maxlength')">
                    La lunghezza massima per questo campo è {{profilo.get('nome').errors.maxlength.requiredLength}} caratteri.
                </small>
                <small class="text-danger" *ngIf="profilo.get('nome').hasError('filtronumeri')">
                    Il campo non deve contenere numeri o caratteri speciali.
                </small>
              </div> 
                    
              <label class="mt-2" for="cognome">Cognome:* </label>
              <input id="cognome" class="form-control" type="text" formControlName="cognome">
              <div *ngIf="profilo.get('cognome').invalid && (profilo.get('cognome').dirty || profilo.get('cognome').touched)">
                <small class="text-danger" *ngIf="profilo.get('cognome').hasError('required')">
                    Inserisci un cognome.
                </small>
                <small class="text-danger" *ngIf="profilo.get('cognome').hasError('minlength')">
                    La lunghezza minima per questo campo è {{profilo.get('cognome').errors.minlength.requiredLength}} caratteri.
                </small>
                <small class="text-danger" *ngIf="profilo.get('cognome').hasError('maxlength')">
                    La lunghezza massima per questo campo è {{profilo.get('cognome').errors.maxlength.requiredLength}} caratteri.
                </small>
                <small class="text-danger" *ngIf="profilo.get('nome').hasError('gte')">
                    Il campo non deve contenere numeri o caratteri speciali.
                </small>
              </div>
             
              <label class="mt-2" for="datanascita">Data di nascita:* </label>
              <input id="datanascita" class="form-control" type="date" formControlName="datanascita">
              <div *ngIf="profilo.get('datanascita').invalid && (profilo.get('datanascita').dirty || profilo.get('datanascita').touched)">
                <small class="text-danger" *ngIf="profilo.get('datanascita').hasError('required')">
                    Inserisci una data di nascita valida.
                </small>
              </div>
                      
              <label class="mt-2" for="sesso">Sesso: </label>
              <select class="form-select" id="sesso" type="text" formControlName="sesso">
                <option value="M">M</option>
                <option value="F">F</option>
              </select>
              <div *ngIf="profilo.get('sesso').invalid && (profilo.get('sesso').dirty || profilo.get('sesso').touched)">
                <small class="text-danger" *ngIf="profilo.get('sesso').hasError('required')">
                    Inserisci il sesso.
                </small>
              </div>
    
              <label class="mt-2" for="indirizzo">Indirizzo: </label>
              <input id="indirizzo" class="form-control" type="text" formControlName="indirizzo">
              <div *ngIf="profilo.get('indirizzo').invalid && (profilo.get('indirizzo').dirty || profilo.get('indirizzo').touched)">
                <small class="text-danger" *ngIf="profilo.get('indirizzo').hasError('required')">
                    Inserisci un indirizzo valido.
                </small>
              </div>
    
              <label class="mt-2" for="telefono">Telefono: </label>
              <input id="telefono" class="form-control" type="text" formControlName="telefono">
              <div *ngIf="profilo.get('telefono').invalid && (profilo.get('telefono').dirty || profilo.get('telefono').touched)">
                <small class="text-danger" *ngIf="profilo.get('telefono').hasError('required')">
                    Inserisci un telefono valido.
                </small>
              </div>

              <div class="btn-group mt-3" role="group">
              <button type="submit" class="btn btn-success me-3" [disabled]="profilo.invalid ">Salva e aggiungi <i class="fas fa-save"></i></button>
              <button type="button" class="btn btn-secondary"routerLink="/rubrica" routerLinkActive="active">Back <i class="fas fa-backward"></i></button>
              </div>
              <div class="mt-3">
                <span class="form-text">
                  *: Campi obbligatori
                </span>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>

  <app-modal [headM]="headR"> 
    <div content *ngIf="bodyR" class="mt-3 mb-3"> {{ bodyR }} </div>
</app-modal>