button {
    border: none;
}




/*
.modificaColore {
     background-color: rgb(48, 87, 212); 
    border-radius: 5px;
 } 
 .modificaColore2 {
     background-color: rgb(245, 35, 210); 
    border-radius: 5px;
 }
*/


