
<div class="mx-5 shadow rounded">
            <div class="row mt-5 px-2 py-2">
                <div class="col-lg-8 col-md-12 px-5 py-5">
                        <div class="table-responsive">
                            <table class="table table-responsive" *ngIf="person.length > 0">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Cognome</th>
                                        <th scope="col">Sesso</th>
                                        <th scope="col">Telefono</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr *ngFor="let persona of person; let i=index;" >
                                        <th scope="row"> {{i}} </th>
                                        <td> {{ persona.nome }} </td>
                                        <td> {{ persona.cognome }} </td>
                                        <td [ngClass]="{'modificaColore': persona.sesso === 'M', 'modificaColore2': persona.sesso === 'F'}"> {{ persona.sesso }} </td>
                                        <td> {{ persona.telefono }} </td>
                                        <td>
                                        <button data-bs-toggle="modal" data-bs-target="#address" (click)="onSelect(persona)"><i class="fas fa-map-marker-alt"></i></button>
                                        </td>
                                        <td>
                                        <button (click)="eliminaRiga(persona.nome)" data-bs-toggle="modal" data-bs-target="#conferma" ><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                        <td>
                                        <button (click)="onSelect(persona)"><i class="fas fa-edit"></i></button>
                                        </td>
                                    </tr>
                            </table>
                        </div>     
                </div>
            </div>
                <div class="col-lg-6 col-md-12 px-5 py-5 ">
                    <div class="card text-center">
                        <div class="card-header">
                        Edit contact
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <app-form [FormPerson]="saveperson"></app-form>
                        </div>
                        <div class="card-footer text-muted mt-2">
                        Engineering &copy;
                        </div>
                    </div>
                </div>
</div>


        <!-- Modal address -->
        <div class="modal fade" id="address" tabindex="-1" aria-labelledby="addressLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addressLabel">Indirizzo di {{ saveperson?.nomeCompleto }} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="bodyind">
                    {{ saveperson?.indirizzo }}
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <i class="fas fa-times"></i></button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal conferma eliminazione-->
        <div class="modal fade" id="conferma" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Profilo eliminato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Il profilo è stato eliminato.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close <i class="fas fa-times"></i></button>
                </div>
            </div>
            </div>
        </div>
