.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}
* {
    font-family: Verdana;
}

button {
    border: none;
    margin-left: 10px;
}

/*
.modificaColore {
     background-color: rgb(48, 87, 212); 
    border-radius: 5px;
 } 
 .modificaColore2 {
     background-color: rgb(245, 35, 210); 
    border-radius: 5px;
 }
*/


